include _config

doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='#{description}')
    meta(name='author', content='#{author}')
    link(rel='stylesheet', href='css/app.css')
      

    title #{title}
  
  body
    header.header
      .header__inner
        .head
          a.head__button.head__button--menu(href='#')
          a.head__logo.logo(href='#')
            .logo__big
              svg(width="202px" height="27px" viewBox="0 0 202 27" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                title Технопарк
                g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
                  g(id="Artboard-14" sketch:type="MSArtboardGroup" transform="translate(-59.000000, -19.000000)" fill="#444444")
                    path(d="M74.715,20.01 L59,20.01 L59,23.51 L64.985,23.51 L64.985,45 L68.73,45 L68.73,23.51 L74.715,23.51 L74.715,20.01 Z M85.3550004,41.5 L85.3550004,33.8 L92.9150004,33.8 L92.9150004,30.3 L85.3550004,30.3 L85.3550004,23.51 L95.6450004,23.51 L95.6450004,20.01 L81.6100004,20.01 L81.6100004,45 L95.6450004,45 L95.6450004,41.5 L85.3550004,41.5 Z M111.045001,34.15 L114.965001,45 L119.025001,45 L114.195001,31.77 L118.535001,20.01 L114.615001,20.01 L111.115001,29.53 L109.225001,29.53 L105.725001,20.01 L101.735001,20.01 L106.075001,31.77 L101.245001,45 L105.235001,45 L109.155001,34.15 L111.045001,34.15 Z M137.890001,20.01 L137.890001,30.335 L129.665001,30.335 L129.665001,20.01 L125.920001,20.01 L125.920001,45 L129.665001,45 L129.665001,33.905 L137.890001,33.905 L137.890001,45 L141.635001,45 L141.635001,20.01 L137.890001,20.01 Z M158.225002,19.555 C151.820002,19.555 149.405002,24.945 149.405002,32.505 C149.405002,40.03 151.820002,45.455 158.225002,45.455 C164.630002,45.455 167.045002,40.03 167.045002,32.505 C167.045002,24.945 164.630002,19.555 158.225002,19.555 L158.225002,19.555 Z M158.225002,41.85 C154.305002,41.85 153.220002,38.21 153.220002,32.505 C153.220002,26.8 154.305002,23.16 158.225002,23.16 C162.145002,23.16 163.230002,26.8 163.230002,32.505 C163.230002,38.21 162.145002,41.85 158.225002,41.85 L158.225002,41.85 Z M174.815002,20.01 L174.815002,45 L178.560002,45 L178.560002,23.51 L186.715002,23.51 L186.715002,45 L190.460002,45 L190.460002,20.01 L174.815002,20.01 Z M210.865003,45 L214.610003,45 L209.605003,20.01 L202.325003,20.01 L197.355003,45 L201.030003,45 L202.395003,37.58 L209.465003,37.58 L210.865003,45 Z M204.985003,23.86 L206.910003,23.86 L208.800003,34.08 L203.060003,34.08 L204.985003,23.86 Z M229.275003,20.01 L221.505003,20.01 L221.505003,45 L225.250003,45 L225.250003,34.78 L229.275003,34.78 C234.525003,34.78 237.500003,31.91 237.500003,27.36 C237.500003,22.81 234.525003,20.01 229.275003,20.01 L229.275003,20.01 Z M228.785003,31.28 L225.250003,31.28 L225.250003,23.51 L228.785003,23.51 C232.390003,23.51 233.685003,24.945 233.685003,27.395 C233.685003,29.845 232.390003,31.28 228.785003,31.28 L228.785003,31.28 Z M244.745003,45 L248.490003,45 L248.490003,33.905 L252.620003,33.905 L256.715003,45 L260.670003,45 L255.875003,32.155 L260.390003,20.01 L256.435003,20.01 L252.620003,30.335 L248.490003,30.335 L248.490003,20.01 L244.745003,20.01 L244.745003,45 Z" id="Технопарк" sketch:type="MSShapeGroup")
            .logo__small
              svg(width="125px" height="17px" viewBox="0 0 125 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns")
                title Технопарк
                g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
                  g(id="Artboard-14" sketch:type="MSArtboardGroup" transform="translate(-59.000000, -55.000000)" fill="#444444")
                    path(d="M71.059,56.006 L61.63,56.006 L61.63,58.106 L65.221,58.106 L65.221,71 L67.468,71 L67.468,58.106 L71.059,58.106 L71.059,56.006 Z M77.4430001,68.9 L77.4430001,64.28 L81.9790001,64.28 L81.9790001,62.18 L77.4430001,62.18 L77.4430001,58.106 L83.6170001,58.106 L83.6170001,56.006 L75.1960001,56.006 L75.1960001,71 L83.6170001,71 L83.6170001,68.9 L77.4430001,68.9 Z M92.8570001,64.49 L95.2090001,71 L97.6450001,71 L94.7470001,63.062 L97.3510001,56.006 L94.9990001,56.006 L92.8990001,61.718 L91.7650001,61.718 L89.6650001,56.006 L87.2710001,56.006 L89.8750001,63.062 L86.9770001,71 L89.3710001,71 L91.7230001,64.49 L92.8570001,64.49 Z M108.964,56.006 L108.964,62.201 L104.029,62.201 L104.029,56.006 L101.782,56.006 L101.782,71 L104.029,71 L104.029,64.343 L108.964,64.343 L108.964,71 L111.211,71 L111.211,56.006 L108.964,56.006 Z M121.165,55.733 C117.322,55.733 115.873,58.967 115.873,63.503 C115.873,68.018 117.322,71.273 121.165,71.273 C125.008,71.273 126.457,68.018 126.457,63.503 C126.457,58.967 125.008,55.733 121.165,55.733 L121.165,55.733 Z M121.165,69.11 C118.813,69.11 118.162,66.926 118.162,63.503 C118.162,60.08 118.813,57.896 121.165,57.896 C123.517,57.896 124.168,60.08 124.168,63.503 C124.168,66.926 123.517,69.11 121.165,69.11 L121.165,69.11 Z M131.119,56.006 L131.119,71 L133.366,71 L133.366,58.106 L138.259,58.106 L138.259,71 L140.506,71 L140.506,56.006 L131.119,56.006 Z M152.749,71 L154.996,71 L151.993,56.006 L147.625,56.006 L144.643,71 L146.848,71 L147.667,66.548 L151.909,66.548 L152.749,71 Z M149.221,58.316 L150.376,58.316 L151.51,64.448 L148.066,64.448 L149.221,58.316 Z M163.795,56.006 L159.133,56.006 L159.133,71 L161.38,71 L161.38,64.868 L163.795,64.868 C166.945,64.868 168.73,63.146 168.73,60.416 C168.73,57.686 166.945,56.006 163.795,56.006 L163.795,56.006 Z M163.501,62.768 L161.38,62.768 L161.38,58.106 L163.501,58.106 C165.664,58.106 166.441,58.967 166.441,60.437 C166.441,61.907 165.664,62.768 163.501,62.768 L163.501,62.768 Z M173.077001,71 L175.324001,71 L175.324001,64.343 L177.802001,64.343 L180.259001,71 L182.632001,71 L179.755001,63.293 L182.464001,56.006 L180.091001,56.006 L177.802001,62.201 L175.324001,62.201 L175.324001,56.006 L173.077001,56.006 L173.077001,71 Z" id="Технопарк" sketch:type="MSShapeGroup")
          a.head__link.head__link--phone(href='tel:88007775050') 8 800 777 50 50
          .head__search.search
            a.search__button(href='#')
            input.search__input(type='text', placeholder='поиск товаров')
          a.head__link(href='#') Доставка и оплата
          a.head__button.head__button--search(href='#')
          a.head__button.head__button--cart(href='#')
            
        nav.navigation
          ul.navigation__list
            li.navigation__item
              a(href='#').navigation__link
                span Мобильные телефоны
            li.navigation__item
              a(href='#').navigation__link
                span Планшеты
            li.navigation__item
              a(href='#').navigation__link.navigation__link--active
                span Фототехника
            li.navigation__item
              a(href='#').navigation__link
                span Ноутбуки
            li.navigation__item
              a(href='#').navigation__link
                span Телевизоры
            li.navigation__item.navigation__item--last
              a(href='#').navigation__link
                i.icon.icon--cart-white.navigation__link-icon
                span Корзина
    main
      section.filters
        ul.filters__list
          li.filters__item
            .filter.filter--large
              a.filter__link
                span.filter__title Любого типа
                span.filter__drop
              .filter__dropdown.dropdown
                .dropdown__inner
                  ul.dropdown__list
                    li.dropdown__item
                      label.dropdown__link
                        input(type='checkbox').dropdown__input
                        span.dropdown__text Компакт-камера
                    li.dropdown__item
                      label.dropdown__link
                        input(type='checkbox').dropdown__input
                        span.dropdown__text Беззеркальная
                    li.dropdown__item
                      label.dropdown__link
                        input(type='checkbox').dropdown__input
                        span.dropdown__text Зеркальная
                    li.dropdown__item
                      label.dropdown__link
                        input(type='checkbox').dropdown__input
                        span.dropdown__text Среднеформатная
          li.filters__item
            .filter
              a.filter__link
                span.filter__title Любого бренда
                span.filter__drop
              .filter__dropdown.dropdown
                .dropdown__inner
                  ul.dropdown__list
                    li.dropdown__item
                      label.dropdown__link
                        input(type='checkbox').dropdown__input
                        span.dropdown__text Canon
                    li.dropdown__item
                      label.dropdown__link
                        input(type='checkbox').dropdown__input
                        span.dropdown__text Nikon
                    li.dropdown__item
                      label.dropdown__link
                        input(type='checkbox').dropdown__input
                        span.dropdown__text Sony
                    li.dropdown__item
                      label.dropdown__link
                        input(type='checkbox').dropdown__input
                        span.dropdown__text Fujifilm
                    li.dropdown__item
                      label.dropdown__link
                        input(type='checkbox').dropdown__input
                        span.dropdown__text Samsung
                    li.dropdown__item
                      label.dropdown__link
                        input(type='checkbox').dropdown__input
                        span.dropdown__text Olympus
                    li.dropdown__item
                      label.dropdown__link
                        input(type='checkbox').dropdown__input
                        span.dropdown__text Panasonic
                    li.dropdown__item
                      label.dropdown__link
                        input(type='checkbox').dropdown__input
                        span.dropdown__text Polaroid
          li.filters__item
            .range
              span.range__span По цене
              .range__group
                .range__item
                  label(for='left_range').range__span от
                  input(type='text', id='left_range', maxlength="11", placeholder='500 000').range__input
                .range__item
                  label(for='right_range').range__span до
                  input(type='text', id='right_range', maxlength="11", placeholder='1 000 000').range__input
              span.range__span Рублей

      section.products
        ul.products__list
          each val in products
            if val.type == 1
              li.product
                a.product__inner(href='/product/'+val.id+'', data-open-id=''+val.id+'')
                  .product__image
                    img(src='images/products/'+val.image+'')
                  .product__name
                     h3= val.name
                  .product__details
                    span= val.details
                  .product__price
                    span= val.price + ' руб.'
                    i.icon.icon--cart-blue.product__price-icon
            else
              li.product.product--banner
                a.product__inner(href='#/banner/'+val.id+'')
                  if val.name == ''
                    .product__image.product__image--banner.product__image--right(style="background-image: url('images/banners/"+val.image+"')")
                  else
                    .product__image.product__image--banner.product__image--left(style="background-image: url('images/banners/"+val.image+"')")
    footer.footer
      .footer__inner
        ul.footer__list
          li.footer__item
            span &copy; Технопарк 2016
          li.footer__item
            a.footer__link(href='#') Доставка и оплата
          li.footer__item
            a.footer__link(href='#') Техническая поддержка
          li.footer__item.footer__item--last
            span Сделано в 
            a.footer__link(href='http://skrotskystudio.com/', target='_blank') Студии Вадима Скротского
    
    section.overlay.overlay--hidden
      .popup
        a.popup__control(href='#')
        .popup__inner.card
          .card__photo
            img(src='images/products/xe2.jpg')
          .card__content
            .card__data
              h1.card__title Фотоаппарат Fujifilm X100S
              table.card__data-table
                tbody.card__data-table__body
                  tr.card__data-table__row
                    td.card__data-table__cell
                      span Тип камеры
                    td.card__data-table__cell
                      span беззеркальная
                  tr.card__data-table__row
                    td.card__data-table__cell
                      span Тип матрицы
                    td.card__data-table__cell
                      span CMOS
                  tr.card__data-table__row
                    td.card__data-table__cell
                      span Размер экрана
                    td.card__data-table__cell
                      span 3"
                  tr.card__data-table__row
                    td.card__data-table__cell
                      span
                        | Количество точек <br/>
                        | матрицы
                    td.card__data-table__cell
                      span 16.3МП
                  tr.card__data-table__row
                    td.card__data-table__cell
                      span Физический размер матрицы
                    td.card__data-table__cell
                      span APS-C (1.5 crop)
                  tr.card__data-table__row
                    td.card__data-table__cell
                      span Фокусное расстояние
                    td.card__data-table__cell
                      span 35мм
              a.card__data-link(href='#') Полные характеристики
            .card__info
              span.card__title 12 999 000 руб.
              a.button.button--block(href='#')
                i.icon.icon--cart-blue.button__icon
                span В корзину
              .card__info-stock
                span.card__info-stock__text В наличии
              span.card__info-text Доставка по Минску бесплатно с 11 до 20 часов
                
    script(src="js/app.js")
