include _config

doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='#{description}')
    meta(name='keywords', content='#{keywords}')
    link(rel='stylesheet', href='css/app.css')
      

    title #{title}
  
  body
    header.header
      .header__inner
        .head
          a.head__logo.logo(href='#')
            .logo__big
              svg(width="202px" height="27px" viewBox="0 0 202 27" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                title Технопарк
                g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
                  g(id="Artboard-14" sketch:type="MSArtboardGroup" transform="translate(-59.000000, -19.000000)" fill="#444444")
                    path(d="M74.715,20.01 L59,20.01 L59,23.51 L64.985,23.51 L64.985,45 L68.73,45 L68.73,23.51 L74.715,23.51 L74.715,20.01 Z M85.3550004,41.5 L85.3550004,33.8 L92.9150004,33.8 L92.9150004,30.3 L85.3550004,30.3 L85.3550004,23.51 L95.6450004,23.51 L95.6450004,20.01 L81.6100004,20.01 L81.6100004,45 L95.6450004,45 L95.6450004,41.5 L85.3550004,41.5 Z M111.045001,34.15 L114.965001,45 L119.025001,45 L114.195001,31.77 L118.535001,20.01 L114.615001,20.01 L111.115001,29.53 L109.225001,29.53 L105.725001,20.01 L101.735001,20.01 L106.075001,31.77 L101.245001,45 L105.235001,45 L109.155001,34.15 L111.045001,34.15 Z M137.890001,20.01 L137.890001,30.335 L129.665001,30.335 L129.665001,20.01 L125.920001,20.01 L125.920001,45 L129.665001,45 L129.665001,33.905 L137.890001,33.905 L137.890001,45 L141.635001,45 L141.635001,20.01 L137.890001,20.01 Z M158.225002,19.555 C151.820002,19.555 149.405002,24.945 149.405002,32.505 C149.405002,40.03 151.820002,45.455 158.225002,45.455 C164.630002,45.455 167.045002,40.03 167.045002,32.505 C167.045002,24.945 164.630002,19.555 158.225002,19.555 L158.225002,19.555 Z M158.225002,41.85 C154.305002,41.85 153.220002,38.21 153.220002,32.505 C153.220002,26.8 154.305002,23.16 158.225002,23.16 C162.145002,23.16 163.230002,26.8 163.230002,32.505 C163.230002,38.21 162.145002,41.85 158.225002,41.85 L158.225002,41.85 Z M174.815002,20.01 L174.815002,45 L178.560002,45 L178.560002,23.51 L186.715002,23.51 L186.715002,45 L190.460002,45 L190.460002,20.01 L174.815002,20.01 Z M210.865003,45 L214.610003,45 L209.605003,20.01 L202.325003,20.01 L197.355003,45 L201.030003,45 L202.395003,37.58 L209.465003,37.58 L210.865003,45 Z M204.985003,23.86 L206.910003,23.86 L208.800003,34.08 L203.060003,34.08 L204.985003,23.86 Z M229.275003,20.01 L221.505003,20.01 L221.505003,45 L225.250003,45 L225.250003,34.78 L229.275003,34.78 C234.525003,34.78 237.500003,31.91 237.500003,27.36 C237.500003,22.81 234.525003,20.01 229.275003,20.01 L229.275003,20.01 Z M228.785003,31.28 L225.250003,31.28 L225.250003,23.51 L228.785003,23.51 C232.390003,23.51 233.685003,24.945 233.685003,27.395 C233.685003,29.845 232.390003,31.28 228.785003,31.28 L228.785003,31.28 Z M244.745003,45 L248.490003,45 L248.490003,33.905 L252.620003,33.905 L256.715003,45 L260.670003,45 L255.875003,32.155 L260.390003,20.01 L256.435003,20.01 L252.620003,30.335 L248.490003,30.335 L248.490003,20.01 L244.745003,20.01 L244.745003,45 Z" id="Технопарк" sketch:type="MSShapeGroup")
            .logo__small
              svg(width="125px" height="17px" viewBox="0 0 125 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns")
                title Технопарк
                g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
                  g(id="Artboard-14" sketch:type="MSArtboardGroup" transform="translate(-59.000000, -55.000000)" fill="#444444")
                    path(d="M71.059,56.006 L61.63,56.006 L61.63,58.106 L65.221,58.106 L65.221,71 L67.468,71 L67.468,58.106 L71.059,58.106 L71.059,56.006 Z M77.4430001,68.9 L77.4430001,64.28 L81.9790001,64.28 L81.9790001,62.18 L77.4430001,62.18 L77.4430001,58.106 L83.6170001,58.106 L83.6170001,56.006 L75.1960001,56.006 L75.1960001,71 L83.6170001,71 L83.6170001,68.9 L77.4430001,68.9 Z M92.8570001,64.49 L95.2090001,71 L97.6450001,71 L94.7470001,63.062 L97.3510001,56.006 L94.9990001,56.006 L92.8990001,61.718 L91.7650001,61.718 L89.6650001,56.006 L87.2710001,56.006 L89.8750001,63.062 L86.9770001,71 L89.3710001,71 L91.7230001,64.49 L92.8570001,64.49 Z M108.964,56.006 L108.964,62.201 L104.029,62.201 L104.029,56.006 L101.782,56.006 L101.782,71 L104.029,71 L104.029,64.343 L108.964,64.343 L108.964,71 L111.211,71 L111.211,56.006 L108.964,56.006 Z M121.165,55.733 C117.322,55.733 115.873,58.967 115.873,63.503 C115.873,68.018 117.322,71.273 121.165,71.273 C125.008,71.273 126.457,68.018 126.457,63.503 C126.457,58.967 125.008,55.733 121.165,55.733 L121.165,55.733 Z M121.165,69.11 C118.813,69.11 118.162,66.926 118.162,63.503 C118.162,60.08 118.813,57.896 121.165,57.896 C123.517,57.896 124.168,60.08 124.168,63.503 C124.168,66.926 123.517,69.11 121.165,69.11 L121.165,69.11 Z M131.119,56.006 L131.119,71 L133.366,71 L133.366,58.106 L138.259,58.106 L138.259,71 L140.506,71 L140.506,56.006 L131.119,56.006 Z M152.749,71 L154.996,71 L151.993,56.006 L147.625,56.006 L144.643,71 L146.848,71 L147.667,66.548 L151.909,66.548 L152.749,71 Z M149.221,58.316 L150.376,58.316 L151.51,64.448 L148.066,64.448 L149.221,58.316 Z M163.795,56.006 L159.133,56.006 L159.133,71 L161.38,71 L161.38,64.868 L163.795,64.868 C166.945,64.868 168.73,63.146 168.73,60.416 C168.73,57.686 166.945,56.006 163.795,56.006 L163.795,56.006 Z M163.501,62.768 L161.38,62.768 L161.38,58.106 L163.501,58.106 C165.664,58.106 166.441,58.967 166.441,60.437 C166.441,61.907 165.664,62.768 163.501,62.768 L163.501,62.768 Z M173.077001,71 L175.324001,71 L175.324001,64.343 L177.802001,64.343 L180.259001,71 L182.632001,71 L179.755001,63.293 L182.464001,56.006 L180.091001,56.006 L177.802001,62.201 L175.324001,62.201 L175.324001,56.006 L173.077001,56.006 L173.077001,71 Z" id="Технопарк" sketch:type="MSShapeGroup")
          a.head__link.head__link--phone(href='tel:88007775050') 8 800 777 50 50
          .head__search.search
            a.search__button(href='#')
              svg(width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns")
                g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
                  g(id="Artboard-14" sketch:type="MSArtboardGroup" transform="translate(-270.000000, -106.000000)" fill="#FFFFFF")
                    path(d="M278.5,120 L278.5,120 C281.537566,120 284,117.537566 284,114.5 C284,111.462434 281.537566,109 278.5,109 C275.462434,109 273,111.462434 273,114.5 C273,117.537566 275.462434,120 278.5,120 L278.5,120 Z M278.5,121 C274.910149,121 272,118.089851 272,114.5 C272,110.910149 274.910149,108 278.5,108 C282.089851,108 285,110.910149 285,114.5 C285,118.089851 282.089851,121 278.5,121 Z M283,119.707107 L283.707107,119 L287.949747,123.242641 L287.242641,123.949747 L283,119.707107 Z" id="Shape" sketch:type="MSShapeGroup")
            input.search__input(type='text', placeholder='поиск товаров')
          a.head__link(href='#') Доставка и оплата
        nav.navigation
          ul.navigation__list
            li.navigation__item
              a(href='#').navigation__link
                span Мобильные телефоны
            li.navigation__item
              a(href='#').navigation__link
                span Планшеты
            li.navigation__item
              a(href='#').navigation__link.navigation__link--active
                span Фототехника
            li.navigation__item
              a(href='#').navigation__link
                span Ноутбуки
            li.navigation__item
              a(href='#').navigation__link
                span Телевизоры
            li.navigation__item.navigation__item--last
              a(href='#').navigation__link
                svg(width="20px" height="20px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns")
                  g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
                    g(id="Artboard-14" sketch:type="MSArtboardGroup" transform="translate(-350.000000, -106.000000)" fill="#FFFFFF")
                      path(d="M369.7,110 L353,110 L354,109 L354,119 L353,118 L367,118 L366.042174,118.712652 L368.955969,109 L369.255969,109 L369.786204,109.712652 L369.7,110 L369.7,110 Z M353,109 L370,109 L367,119 L353,119 L353,109 Z M355,123 C355.552285,123 356,122.552285 356,122 C356,121.447715 355.552285,121 355,121 C354.447715,121 354,121.447715 354,122 C354,122.552285 354.447715,123 355,123 Z M355,124 C353.895431,124 353,123.104569 353,122 C353,120.895431 353.895431,120 355,120 C356.104569,120 357,120.895431 357,122 C357,123.104569 356.104569,124 355,124 Z M364,123 C364.552285,123 365,122.552285 365,122 C365,121.447715 364.552285,121 364,121 C363.447715,121 363,121.447715 363,122 C363,122.552285 363.447715,123 364,123 Z M364,124 C362.895431,124 362,123.104569 362,122 C362,120.895431 362.895431,120 364,120 C365.104569,120 366,120.895431 366,122 C366,123.104569 365.104569,124 364,124 Z M350,109 L353,109 L353,110 L350,110 L350,109 Z" id="Shape" sketch:type="MSShapeGroup")
                span Корзина
    main
      section.filters
        ul.filters__list
          li.filters__item
            .filter
              a.filter__link
                span.filter__title
                span.filter__cnt
              .filter__dropdown.dropdown
                .dropdown__inner
                  ul.dropdown__list
                    .dropdown__list-item
                      label.dropdown__item
                        input(type='checkbox').dropdown__input
                        span.dropdown__link
          li.filters__item
          li.filters__item
      section.products
        ul.products__list
          each val in products
            li.product
              a.product__inner(href='#')
                if val.type == 1
                  .product__image
                    img(src='images/'+val.image)
                  .product__name
                     span= val.name
                  .product__details
                    span= val.details
                  .product__price
                    span= val.price + ' руб.'
                    svg(width="20px" height="20px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                      g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
                        g(id="Artboard-14" sketch:type="MSArtboardGroup" transform="translate(-390.000000, -106.000000)" fill="#4488FF")
                          path(d="M409.7,110 L393,110 L394,109 L394,119 L393,118 L407,118 L406.042174,118.712652 L408.955969,109 L409.255969,109 L409.786204,109.712652 L409.7,110 L409.7,110 Z M393,109 L410,109 L407,119 L393,119 L393,109 Z M395,123 C395.552285,123 396,122.552285 396,122 C396,121.447715 395.552285,121 395,121 C394.447715,121 394,121.447715 394,122 C394,122.552285 394.447715,123 395,123 Z M395,124 C393.895431,124 393,123.104569 393,122 C393,120.895431 393.895431,120 395,120 C396.104569,120 397,120.895431 397,122 C397,123.104569 396.104569,124 395,124 Z M404,123 C404.552285,123 405,122.552285 405,122 C405,121.447715 404.552285,121 404,121 C403.447715,121 403,121.447715 403,122 C403,122.552285 403.447715,123 404,123 Z M404,124 C402.895431,124 402,123.104569 402,122 C402,120.895431 402.895431,120 404,120 C405.104569,120 406,120.895431 406,122 C406,123.104569 405.104569,124 404,124 Z M390,109 L393,109 L393,110 L390,110 L390,109 Z" id="Shape" sketch:type="MSShapeGroup")

                else
                  if val.name == ''
                    .product__image.product__image--banner.product__image--right(style="background-image: url('images/"+val.image+"')")
                  else
                    .product__image.product__image--banner.product__image--left(style="background-image: url('images/"+val.image+"')")
    footer.footer
      .footer__inner
        ul.footer__list
          li.footer__item
            span &copy; Технопарк 2016
          li.footer__item
            a.footer__link(href='#') Доставка и оплата
          li.footer__item
            a.footer__link(href='#') Техническая поддержка
          li.footer__item.footer__item--last
            span Сделано в 
            a.footer__link(href='//skrotskystudio.com/', target='_blank') Студии Вадима Скротского
            
    script(src="js/app.js")
        
